body {
  background-color: inherit; // inherit the bgc of the html node set in head.html
  display: flex;
}

// remove the flash of unstyled content from js styles
.fouc-buster {
  display: inherit !important;
}
